[Unit]
Description=DHARMA Zotero Sync Service
After=network.target

[Service]
User=michael
Group=michael
WorkingDirectory=/home/michael/dharma
Environment="PYTHONPATH=/home/michael:$PYTHONPATH"

ExecStart=/usr/bin/python3 zotero.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
